<!-- Scripts -->
<script src="{{ "/js/jquery.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/jquery.scrollex.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/jquery.scrolly.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/skel.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/util.js" | prepend: site.baseurl }}"></script>
<!--[if lte IE 8]><script src="{{ "/js/ie/respond.min.js" | prepend: site.baseurl }}"></script><![endif]-->
<script src="{{ "/js/main.js" | prepend: site.baseurl }}"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
