<!-- Header -->
    <section id="member">
        <header>
            <h1><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
        </header>
        <nav id="nav">
            <ul>
                <li><a href="{{ site.baseurl }}/member.html">My WineCellar</a></li>
                <li><a href="{{ site.baseurl }}/addabottle.html">Add a bottle</a></li>
                <li><a href="{{ site.baseurl }}/addabottle.html"> Rate a bottle</a></li>
                <li><a href="{{ site.baseurl }}/referral.html">Get a month for free</a></li>
                <li><a href="{{ site.baseurl }}/logout.html">Logout</a></li>
            </ul>
        </nav>
        <footer>
            <ul class="icons">
                <li><a href="#" class="icon fa-users">Leave the community</a></li>
                <li><a href="#" class="icon fa-envelope">Email</a></li>
            </ul>
        </footer>
    </section>
