<!-- Header -->
<script type="text/javascript">
// Logout functionnality
function logout() {
  console.log('ici ok2');
  firebase.auth().signOut();
}
function initApp() {
  // Listening for auth state changes.
  // [START authstatelistener]
  firebase.auth().onAuthStateChanged(function(user) {
    // [START_EXCLUDE silent]
    // [END_EXCLUDE]
    if (!user) {
    window.location=('{{ site.baseurl }}/login.html');

    } 
  });
}
window.onload = function() {
  initApp();
};
</script>

    <section id="member">
        <header>
            <h1><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
        </header>
        <nav id="nav">
            <ul>
                <li><a href="{{ site.baseurl }}/member.html">My WineCellar</a></li>
                <li><a href="{{ site.baseurl }}/addabottle.html">Add a bottle</a></li>
                <li><a href="{{ site.baseurl }}/addabottle.html"> Rate a bottle</a></li>
                <li><a href="{{ site.baseurl }}/referral.html">Get a month for free</a></li>
                <li><a href="#" onclick='logout(); console.log("ici ok"); return false;' id="logout">Logout</a></li>
            </ul>
        </nav>
        <footer>
            <ul class="icons">
                <li><a href="#" class="icon fa-users">Leave the community</a></li>
                <li><a href="#" class="icon fa-envelope">Email</a></li>
            </ul>
        </footer>
    </section>
